.mobile {
   background: #fff;
   /* relative with .today-box::before*/
   z-index: 1;  /*positive*/ // PARENT
   position: relative;
   /*---------*/
   width: 380px;
   min-height: 100%;
   margin: auto;
   padding: 10px 0 20px;
   border-radius: 10px;
   box-shadow: 0px 10px 30px -10px #000;
   overflow: hidden;

}

.breadcrumb{
    background: #007bff;
    padding-top: 3px;
    padding-bottom: 0;
}
.breadcrumb h4{
    color: #fff;
}



.container {
   width: 90%;
   margin: auto;
}

.header {
   padding-bottom: 15px;
   margin-bottom: 0px;
   text-align: center;
   .container {
      position: relative;
      span {
         color: #444;
         font: {
            family: 'Ramabhadra';
            size: 21px;
            weight: 700;
         }
      }
      h1 {
         margin-top: 5px;
         color: #919294;
         font: {
            size: 13px;
            weight: 300;
         }
      }
   }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

.cancel-button{
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.day{
	background-color: blue;
	color: #fff;
	width:100%;
}
