<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Uni Life</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>

<div class="mobile-wrapper">

   <!--======= Header =======-->

   <header class="header">
      <div class="container">

         <h1>Your week</h1>

      </div>
   </header>

   <!--======= Today =======-->


   <section class="today-box" id="today-box">
      <span class="breadcrumb">
          <h4 class="date-title">Coursework timetable</h4>
      </span>
   </section>

   <!--======= Upcoming Events =======-->

   {% for event in data %}
   <section class="upcoming-events">
      <div class="container">
         <div class="events-wrapper">
            <div class="event">
               <i class="ion ion-ios-flame hot"></i>
               <h4 class="event__point">{{ event[0] }}</h4>
               <span class="event__duration">Due date: {{ event[1] }} {{ event[2] }}</span>
               <p class="event__description">
                  {{ event[4] }}
               </p>
            </div>
         </div>
      </div>
   </section>
   {% endfor %}


   <a class="btn btn-info btn-lg btn-block" href="/home">return</a>
</div>
