{% extends "index.html" %}

{% block content %}

<div class="container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.taskName.label(class="form-control-label") }}
                {{ form.taskName(class="form-control form- control-lg") }}
            </div>
            <div class="form-group">
                {{ form.dueDay.label(class="form-control-label") }}
                {{ form.dueDay(class="form-control form- control-lg") }}
            </div>
            <div class="form-group">
                {{ form.duration.label(class="form-control-label") }}
                {{ form.duration(class="form-control form- control-lg") }}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {{ form.description(class="form-control form- control-lg", rows="5") }}
            </div>
        </fieldset>
    </form>
    <a class="btn btn-primary" href="/timetable" style="float: right;">Create event</a>
    <a class="btn btn-danger" href="/timetable" style="float: left;">Cancel</a>
</div>

{% endblock %}
