<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Uni Life Organiser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>

<div class="mobile">
	<header class="header">
		<div class="container">
			<h1>Create event</h1>
		</div>
	</header>


	<body class = "body bg-dark-main">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="container">
						<div class="alert alert-{{ category }}">
							{{ message }}
						</div>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block content %}
		{% endblock %}
	</body>

</div>
</html>
