<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Uni Life</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>

<div class="mobile-wrapper">

   <!--======= Header =======-->

   <header class="header">
      <div class="container">

         <h1>Your week</h1>

      </div>
   </header>

   <a class="btn btn-info btn-lg btn-block" href="/createNew">Add new event</a>


   <!--======= Today =======-->


   <section class="today-box" id="today-box">
      <span class="breadcrumb">
          <h4 class="date-title">Monday</h4>
      </span>
   </section>

   <!--======= Upcoming Events =======-->

   {% for event in data %}
   {% if event[0] == "Monday" %}

   <section class="upcoming-events">
      <div class="container">
         <div class="events-wrapper">
            <div class="event">
               <i class="ion ion-ios-flame hot"></i>
               <h4 class="event__point">{{ event[2] }}</h4>
               <span class="event__duration">{{ event[3] }} hours</span>
               <p class="event__description">
                  {{ event[1] }}
               </p>
            </div>
         </div>
      </div>
   </section>

   {% endif %}
   {% endfor %}

   <section class="today-box" id="today-box">
      <span class="breadcrumb">
          <h4 class="date-title">Tuesday</h4>
      </span>
   </section>

   {% for event in data %}
   {% if event[0] == "Tuesday" %}

   <section class="upcoming-events">
      <div class="container">
         <div class="events-wrapper">
            <div class="event">
               <i class="ion ion-ios-flame hot"></i>
               <h4 class="event__point">{{ event[2] }}</h4>
               <span class="event__duration">{{ event[3] }} hours</span>
               <p class="event__description">
                  {{ event[1] }}
               </p>
            </div>
         </div>
      </div>
   </section>

   {% endif %}
   {% endfor %}

   <section class="today-box" id="today-box">
      <span class="breadcrumb">
          <h4 class="date-title">Wednesday</h4>
      </span>
   </section>

   {% for event in data %}
   {% if event[0] == "Wednesday" %}

   <section class="upcoming-events">
      <div class="container">
         <div class="events-wrapper">
            <div class="event">
               <i class="ion ion-ios-flame hot"></i>
               <h4 class="event__point">{{ event[2] }}</h4>
               <span class="event__duration">{{ event[3] }} hours</span>
               <p class="event__description">
                  {{ event[1] }}
               </p>
            </div>
         </div>
      </div>
   </section>

   {% endif %}
   {% endfor %}

   <section class="today-box" id="today-box">
      <span class="breadcrumb">
          <h4 class="date-title">Thursday</h4>
      </span>
   </section>

   {% for event in data %}
   {% if event[0] == "Thursday" %}

   <section class="upcoming-events">
      <div class="container">
         <div class="events-wrapper">
            <div class="event">
               <i class="ion ion-ios-flame hot"></i>
               <h4 class="event__point">{{ event[2] }}</h4>
               <span class="event__duration">{{ event[3] }} hours</span>
               <p class="event__description">
                  {{ event[1] }}
               </p>
            </div>
         </div>
      </div>
   </section>
   {% endif %}
   {% endfor %}

   <section class="today-box" id="today-box">
      <span class="breadcrumb">
          <h4 class="date-title">Friday</h4>
      </span>
   </section>

   {% for event in data %}
   {% if event[0] == "Friday" %}

   <section class="upcoming-events">
      <div class="container">
         <div class="events-wrapper">
            <div class="event">
               <i class="ion ion-ios-flame hot"></i>
               <h4 class="event__point">{{ event[2] }}</h4>
               <span class="event__duration">{{ event[3] }} hours</span>
               <p class="event__description">
                  {{ event[1] }}
               </p>
            </div>
         </div>
      </div>
   </section>
   {% endif %}
   {% endfor %}

   <section class="today-box" id="today-box">
      <span class="breadcrumb">
          <h4 class="date-title">Saturday</h4>
      </span>
   </section>

   {% for event in data %}
   {% if event[0] == "Saturday" %}

   <section class="upcoming-events">
      <div class="container">
         <div class="events-wrapper">
            <div class="event">
               <i class="ion ion-ios-flame hot"></i>
               <h4 class="event__point">{{ event[2] }}</h4>
               <span class="event__duration">{{ event[3] }} hours</span>
               <p class="event__description">
                  {{ event[1] }}
               </p>
            </div>
         </div>
      </div>
   </section>
   {% endif %}
   {% endfor %}

   <section class="today-box" id="today-box">
      <span class="breadcrumb">
          <h4 class="date-title">Sunday</h4>
      </span>
   </section>

   {% for event in data %}
   {% if event[0] == "Sunday" %}

   <section class="upcoming-events">
      <div class="container">
         <div class="events-wrapper">
            <div class="event">
               <i class="ion ion-ios-flame hot"></i>
               <h4 class="event__point">{{ event[2] }}</h4>
               <span class="event__duration">{{ event[3] }} hours</span>
               <p class="event__description">
                  {{ event[1] }}
               </p>
            </div>
         </div>
      </div>
   </section>
   {% endif %}
   {% endfor %}
   <a class="btn btn-info btn-lg btn-block" href="/home">return</a>
</div>
